<!-- Bottom Nav -->
        <footer>
            <div class="flex footer-text"></div>
            <div class="stack">
                <ul>
                    <li class="no-bullet">
                        <a class="no-text-decoration" href="" target="_blank">
                            <h3 class="gold">Centennial College</h3>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="no-bullet">
                        <a class="no-text-decoration" href="mailto:adaabaz@my.centennialcollege.ca">
                            <h3 class="gold">Email</h3>
                        </a>
                    </li>
                </ul>
                <h6>&copy;&nbsp;Copyright Adam Daabaz - COMP229 - Fall2021</h6>
            </div>
        