<!DOCTYPE html>
<html>
  <head>
    <title>service</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style/service.css" />
  </head>
  <body>
    <%- include partials/main_nav.ejs %>
    <main>
      <br /><br /><br /><br /><br />
      <div class="centre">
        <br /><br />
        <h2><i>My services as software developer:</i></h2>
        <br />
        <img
          src="/img/serviceImg.jpeg"
          alt="my services"
          style="float: right; margin: 200 20 20 20"
        />
        <p><b> What I will be offering once i gradute from college: </b></p>
        <br /><br /><br />
        <div class="stack">
          <ul>
            <li class="no-bullet">
              <a
                class="no-text-decoration"
                href="https://en.wikipedia.org/wiki/Web_application"
              >
                <p class="gold">- Web Application Development</p>
              </a>
            </li>
            <li class="no-bullet">
              <a class="no-text-decoration" href="Software_prototyping">
                <p class="gold">- Software Prototyping</p>
              </a>
            </li>
            <li class="no-bullet">
              <a
                class="no-text-decoration"
                href="https://en.wikipedia.org/wiki/Quality_assurance"
              >
                <p class="gold">- Quality Assurance</p>
              </a>
            </li>
            <li class="no-bullet">
              <a
                class="no-text-decoration"
                href="https://softwarehut.com/net-application-development"
              >
                <p class="gold">- .Net Application Development</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br /><br /><br /><br /><br /><br />
      <%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
    </main>
  </body>
</html>
