<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/aboutMe.css">
        <script src=""></script>
    </head>
    <body>
        <header>
            <div class="header-1">
                <p class="telephone centre">
                    Call me: (532) 555-5542
                </p>
            </div>
    
            <div class="header-2">
                <nav class="centre">
                                                <% if(typeof displayName == 'string' && displayName) { %>
                               <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
                               <a class ="menu" href="/logout">Logout</a>
                              <% } else { %>
                             <a class ="menu" href="/login">Login</a><% } %>
                        <a  class ="menu"href="/book-list">Book List</a>
                        <a  class ="menu"href="/about">About Me</a>
                        <a  class ="menu"href="/contact">Contact Me</a>
                        <a  class ="menu"href="/project">Projects</a>
                        <a  class ="menu"href="/service">Services</a>
                        <a  class ="menu"href="/home">Home</a>
               </nav>
            </div>
    
            
                <div class="header-logo"></div>
        </header>
        <main>
            <div class="centre">
                <br><br><br><br>    <br><br><br><br><hr>
                <h2><i>Introduction About Me :</i></h2>
                <img id ="agentpic"src="../img/picture3.jpg" alt="my picture" style=" float:right; margin: left 20px;padding-left: 20px">
                <br><br>
        <p>My name is Adam Daabaz. I am 19 years old; I was born in Ifrane, Morocco, and I am a citizen of the kingdom of Morocco.  I spent my early childhood in Morocco till I moved with my parents to the UAE. I have been a resident of the UAE since 2006. I continued my education in the UAE till I graduated last year from <i><a class="gold" href="https://www.alrashed-alsaleh.com/"> Al Rashid Al Salah Private School</a></i> in Dubai,UAE and now I'm a student in the <b>software engineering technician</b> program at Centennial College.</p>
        <br><br><br><br>
        <p>One of my favorite quotes is :</p>
        <br>
        <blockquote> <i>"To acquire knowledge, one must study; but to acquire wisdom, one must observe"</i>  <br>~~Marilyn Vos Savan~~ </blockquote>
        <br><br><br><br><hr>
        <br><br>
        <h2><i>Education:</i></h2>
        <br>
                <div class="stack">
            <ul>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://www.centennialcollege.ca/">
                        <p class="gold">- Centennial Community College, Toronto, Ontario, Canada. </p>
                        <br><p>(2021-Jan to 2022-Jul) Software Engineering Technician diploma</p>
                    </a>
                </li>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://www.alrashed-alsaleh.com/"><p class="gold" >- Al Rashid Al Salah Private School, Dubai,UAE</p></a>
                    <br><p>(2017-Sep to 2020-Jul) High school diploma</p>
                </li>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <h2><i>Some of my personal interests :</i></h2>
        <img src="../img/things4.jpg" alt="stuff I like to do in my free time" style="float: right;">
        <br><br><br>
        <div class="stack">
            <ul>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://en.wikipedia.org/wiki/National_Basketball_Association">
                        <p class="gold">  1- playing basket ball</p>
                    </a>
                </li>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://www.playstation.com/en-ae/">
                        <p class="gold">2- playing video games</p>
                    </a>
                </li>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://magrudy.com/">
                        <p class="gold">3- reading books</p>
                    </a>
                </li>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://www.crunchyroll.com/en-gb">
                        <p class="gold">4- Travelling the world  with loved ones</p>
                    </a>
                </li>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://www.instagram.com/">
                        <p class="gold">5- browsing social media</p>
                    </a>
                </li>
                <li class="no-bullet">
                    <a class="no-text-decoration" href="https://www.netflix.com/ae-en/">
                        <p class="gold">6- watching Netflix</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </main>
        <br>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
  




