<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/home.css">
        <script src=""></script>
    </head>
    <body>
       <%- include partials/main_nav.ejs %>
        <main>
            <div class="centre">
                <br><br><br><br>    <br><br><br><br><hr>
                 <h2><i>Welcome to my Profile:</i></h2>
            <br><br>
            <p>Welcome to Adam Daabaz's personal web page. A Cenntenial college student who is pursing the techonlogy industry.</p>
            <p>Kindly check the following pages for more information about me and my service, and if you will like to an appointment with me, kindly fill the form with your details to contact you.</p>
        <br><br><hr>
        <h2><i>Mission statement:</i></h2>
        <br>
        <p>
          As a kid, I always wondered how things worked, and how were they created, which eventually led me to fall in love with computers. I started coding with python in grade nine, and I loved it from the first moment. I decided right there; that I would pursuit software engineering as my career in my life. I seek a lot of opportunities for myself in the future. I want to accomplish these opportunities and become a true pioneer in the software development industry.
        </p>
        <br><br><hr><br><br>
        
    </div>
    </main>
        <br>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

  




