<!DOCTYPE html>
<html>
    <head>
        <title>project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/project.css">
        <script src=""></script>
    </head>
    <body>
<%- include partials/main_nav.ejs %>
        <main>
            <br><br>
                <div class="centre">
                    <br><br>
                <br><br><br><br>
                    <br><br>
                    <h2>My future projects:</h2>
                    <br>
                    <p><h5><b><i><u>"Unfornutaley I still haven't completed any  big project to show case here but here's some projects that i am still working on."</u></i></b></h5></p>
                    <br><br>
                    <hr>
                    <br>
                    <h2>Weather App:</h2>
                    <br>
                    <div id="projects">
                    <a href="/img/weather.png"><img src="/img/weather.png" alt="Weather App" ></a>
                    </div>
                    <p id=" "> Weather app is web application that informs the users about the climate conditions based on their geo location using google maps api, 
                        the user can also search up cities via the search bar to look for weather conditions for other cities as well. 
                        App features are still being developed of the app. One feature called "on the go" helps an individual to know the minute-by-minute forecast for the next two hours.
                         The app is designed to send severe weather alerts for contingencies like snowfall, thunderstorms, and tornadoes to its users. Besides telling sunshine and rain situations,
                          the app lets you know UV index, air quality, wind direction, humidity, and cloud coverage, too.</p>
                    <br><br><br><br>
                    <hr>
                    <br><br><br>
                    <h2>Chess Game:</h2><br>
                    <div id="projects"> 
                    <a href="/img/chess.gif"><img src="/img/chess.gif" alt="Chess game"></a>
                    </div>
                    
                    <p id=" ">Chess got really popular during the pandemic, I learned some strategies during that time, and I always had the idea of making a chess game that can be played over the internet, 
                        allowing players to play against AI or each other in real-time (later feature). The main thing that makes my game work are these node objects and they are just the containers that hold the chess pieces. they are simulated as the tiles of the chessboard in this case.
                         They have their attributes which are their row, column,x,y coordinates. This project is still in the design cycle, as I am looking for a classmate to partner up with on this project together.</p>
                    <br><br>
                    <br><br>
                    <br><br>
                    <hr>
                    <br><br>
                    <h2>Discord bot:</h2><br><br>
                    <div id="projects"> 
                        <a href="/img/discord.png"><img src="/img/discord.png" alt="discord bot"></a>
                        </div>
                        <p id=" ">Waver is a free Discord music bot that delivers high-quality music to your Discord server. You can easily add the music bot to your Discord server with zero configuration. The user searches for the music title via the chat, and the bot searches on youtube for a video with a similar title Via api.
                        This project will be runned on python, as it offers huge amount of libraies that will make this project run smoother. The user will be able to stack songs on each other, or add a playlist title on youtube if possible, this bot remain under "working progess".</p>
                    <br><br><br><br><br><br>
                    <hr>
                    <br><br></div>
                     <%- include partials/bottom_nav.ejs %>
                     <%- include partials/footer.ejs %>