<div class="body-wrapper">
    <div ></div>
    <div class="center_content">
    <h1></h1>
    <div class="row no-gutters">
        <p style="margin-bottom: 50px;"></p>
        <div class="col-sm-7 wrap-about py-5 ftco-animate fadeInUp ftco-animated">
  <div class="heading-section mt-5 mb-4">
      <div class="pl-lg-5 ml-md-5">
        
        <h2 class="mb-4">About Us</h2>
    </div>
  </div>
  <div class="pl-lg-5 ml-md-5">
                <p>We are a group of developers studying at Centennial College. This website is to demonstrate our understanding of making a functional website.</p>
    <p>We have chosen to make a survey website. 
    If you would like to participate in one of our surveys please click below.</p>
    <p><a href="/survey" class="btn btn-primary px-4 py-3 mt-3">Take Survey</a></p>

<!--This is the credits part-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Developer Credits</h1>
    <p class="lead">Many thanks to everyone who contributed to developing this survey project whether it be coding, testing, writing documentation, or coming up with ideas.</p>
    </div>
  </div>
  
  <p class="text-center"> Developers who have contributed directly to this survey site project are as follows: </p>
  
    <!--Card List-->
    <!--Marc Adrian Dominguez-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/marc.JPG" alt="marc">
        <div class="card-body">
          <p class="card-text">Name: Marc Adrian Dominguez</p>
          <p class="card-text">Student ID No.: 301151879</p>
          <p class="card-text">Lead Programmer</p>
        </div>
      </div>
  
    <!--Pinkherwin Relos-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/Pinky.JPG" alt="Pinky">
        <div class="card-body">
          <p class="card-text">Name: Pinkherwin Relos</p>
          <p class="card-text">Student ID No.: 301209565</p>
          <p class="card-text">Back-end Developer</p>
        </div>
      </div>
  
    <!--Johnny Zheng-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/Johnny.JPG" alt="Johnny">
        <div class="card-body">
          <p class="card-text">Name: Johnny Zheng</p>
          <p class="card-text">Student ID No.: 301070670</p>
          <p class="card-text">Web Designer</p>
        </div>
      </div>
  
    <!--Piyush Sehgal-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/piyush.JPG" alt="piyush">
        <div class="card-body">
          <p class="card-text">Name: Piyush Sehgal</p>
          <p class="card-text">Student ID No.: 301169193</p>
          <p class="card-text">Technical Artist</p>
        </div>
      </div>
  
    <!--Konul Adilova-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/konul.JPG" alt="konul">
        <div class="card-body">
          <p class="card-text">Name: Konul Adilova</p>
          <p class="card-text">Student ID No.: 301082873</p>
          <p class="card-text">Front-end/UI developer</p>
        </div>
      </div>
  
    <!--Adam Daabaz-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/adam.JPG" alt="adam">
        <div class="card-body">
          <p class="card-text">Name: Adam Daabaz</p>
          <p class="card-text">Student ID No.: 301151527</p>
          <p class="card-text">Project/Database Manager</p>
        </div>
      </div>


                <div class="thumb my-4 d-flex"></div>
            </div>
        </div>

</div></div></div>