<div class="body-wrapper">
    <div class="center_content">
    <div class="col-sm-7 wrap-about py-5 ftco-animate fadeInUp ftco-animated">
  <div class="heading-section mt-5 mb-4">
        
        <h2 class="centerFlex" id="">About Us</h2>
    </div>
  </div>
  <div class="centerFlex">
                <p>We are a group of developers studying at Centennial College. This website is to demonstrate our understanding of making a functional website.</p>
                  <p>We have chosen to make a survey website. 
                    If you would like to participate in one of our surveys please click below.</p>
    <p><a href="/survey" class="btn btn-primary px-4 py-3 mt-3">Take Survey</a></p>
    </div>
             <div class="thumb my-4 d-flex"></div>
            </div>
    

</div>