<div class="body-wrapper">
    <div class="logo_container"><img src="" alt=" logo" style="width: 30%;"></div>
    <div class="center_content">
    <h1>Create your own survey!</h1>
    <div class="row no-gutters">
        <p style="margin-bottom: 50px;">This Web App is a Angular based Web-Application developed by Centennial College students that allows anyone to create their own surveys and have controll over their answers. This powerful tool delivers a complete survey and user management system along with a high level encryption algorithm protecting your data.</p>
        <div class="col-sm-7 wrap-about py-5 ftco-animate fadeInUp ftco-animated">
  <div class="heading-section mt-5 mb-4">
      <div class="pl-lg-5 ml-md-5">
        
        <h2 class="mb-4">About Us</h2>
    </div>
  </div>
  <div class="pl-lg-5 ml-md-5">
                <p>We are a group of developers studying at Centennial College. This website is to demonstrate our understanding of making a functional website.</p>
    <p>We have chosen to make a survey website. 
    If you would like to participate in one of our surveys please click below.</p>
    <p><a href="/survey-list" class="btn btn-primary px-4 py-3 mt-3">Take Survey</a></p>

                <div class="thumb my-4 d-flex"></div>
            </div>
        </div>

</div></div></div>