<%- include ../partials/header.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">


            <form>

            <script>
                function myFunction() {
                    <% var x = 0; %>
                    <% x++; %>
                </script>
                <tr class="d-flex">
                <h4 class="text-center">Please read each statement and answer each one individually. You can give one answer for each statement.</h4>
                <br>
                <h1 class="text-center"><%= surveyList[x].title %></h1>
                <h4 class="text-center"><%= surveyList[x].questions %></h4>
                <td class="col-4"><label for="publishedTextField"></label>
                <input type="text" class="form-control"></td>
                </tr>
            </form>
            
            <style>
                .button{  
                text-align: center;  
                width: 550px;  
                height: 200px;  
                }  
            </style>
            
            <div class="button">
            <input type="submit" id="button" onClick="myFunction()" value="Submit" class="wpcf7-form-control wpcf7-submit btn btn-primary py-3 px-5" aria-invalid="false">
            </div>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>